@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Objects"
       asp-action="Create" role="button">Добавить</a>
</div>

<div class="text-center">
    <h1 class="display-4">Objects</h1>

</div>
